@model IEnumerable<OnlineQuiz.Models.Subject>

@{
    ViewBag.Title = "Index";
}
@Html.ActionLink("Go to Admin Panel", "Index", "Admin")

<h2>Subjects</h2>
<br/>

<p>
    @Html.ActionLink("Add New Subject", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SubjectName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SubjectName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SubjectID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SubjectID })
        </td>
    </tr>
}

</table>
